<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title | AWS Explorer</title>
  <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>
<body>
  @RenderBody()
</body>
</html>
